pkgbase = quartus-free-130
	pkgdesc = Quartus II 13.0 Web Edition, the last version to support Cyclone II and earlier FPGAs.
	pkgver = 13.0.1.232
	pkgrel = 3
	url = http://www.altera.com/products/software/quartus-ii/web-edition
	arch = i686
	arch = x86_64
	license = custom
	makedepends = bash
	depends = desktop-file-utils
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = gtk2
	depends = libcanberra
	depends = libpng
	depends = libpng12
	depends = libice
	depends = libsm
	depends = util-linux
	depends = ncurses
	depends = tcl
	depends = tcllib
	depends = zlib
	depends = libx11
	depends = libxau
	depends = libxdmcp
	depends = libxext
	depends = libxft
	depends = libxrender
	depends = libxt
	depends = libxtst
	depends = lib32-expat
	depends = lib32-fontconfig
	depends = lib32-freetype2
	depends = lib32-glibc
	depends = lib32-gtk2
	depends = lib32-libcanberra
	depends = lib32-libpng
	depends = lib32-libpng12
	depends = lib32-libice
	depends = lib32-libsm
	depends = lib32-util-linux
	depends = lib32-ncurses
	depends = lib32-ncurses5-compat-libs
	depends = lib32-zlib
	depends = lib32-libx11
	depends = lib32-libxau
	depends = lib32-libxdmcp
	depends = lib32-libxext
	depends = lib32-libxft
	depends = lib32-libxrender
	depends = lib32-libxt
	depends = lib32-libxtst
	provides = quartus-free
	conflicts = quartus-free
	options = !strip
	options = !upx
	source = Quartus-web-13.0.1.232-linux.tar::http://download.altera.com/akdlm/software/acdsinst/13.0sp1/232/ib_tar/Quartus-web-13.0.1.232-linux.tar
	source = https://archive.archlinux.org/packages/l/lib32-freetype2/lib32-freetype2-2.5.0.1-1-x86_64.pkg.tar.xz
	source = quartus.sh
	source = quartus.desktop
	source = 51-usbblaster.rules
	source = modelsim-ase.desktop
	source = modelsim-ae.desktop
	md5sums = 7588ed734761f62ec8f86b07a5adfffd
	md5sums = d3b3b7cdf874b6dd0b60c40d84dd9128
	md5sums = 067c444cae7fe31d3608245712b43ce8
	md5sums = 32b17cb8b992fc2dccd33d87f0dcd8ce
	md5sums = e1d0799c3c5558b9444a5b539254be84
	md5sums = 671f0f8b52afbf2dae842d91855fd90d
	md5sums = d32c0fe838c76c77b4c721a621c221f7

pkgname = quartus-free-130

